
<mat-card>
    <mat-card-title>User Registeration</mat-card-title>
   <mat-card-content>
    <form class="example-form" [formGroup]="reactiveform" (ngSubmit)="SaveUser()">
        <mat-form-field class="example-full-width" appearance="fill">
            <mat-label>UserID</mat-label>
            <input matInput placeholder="ID" formControlName="userid" >
          </mat-form-field>
        
        <mat-form-field class="example-full-width" appearance="fill">
          <mat-label>Username</mat-label>
          <input matInput placeholder="Username" formControlName="name"  >
        </mat-form-field>
      
        <mat-form-field class="example-full-width" appearance="fill">
            <mat-label>Password</mat-label>
            <input matInput placeholder="Password"  type="password" formControlName="password"   >
          </mat-form-field>
          <mat-form-field class="example-full-width" appearance="fill"  >
            <mat-label>Email</mat-label>
            <input matInput placeholder="Email" formControlName="email">
          </mat-form-field>
          <div>
            <button mat-raised-button type="submit" color="primary">Register</button>
            <a mat-raised-button style="margin: 5px" color="accent" (click)="RedirectLogin()">Close</a>
          </div>
      </form>
     
   </mat-card-content>
   
</mat-card>