/* You can add global styles to this file, and also import other style files */
@import '../node_modules/alertifyjs//build/css/alertify.min.css';
@import '../node_modules/alertifyjs//build/css/themes/bootstrap.min.css';
@import '../node_modules/alertifyjs//build/css/themes/default.min.css';
html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
